*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
/* border own style */
.border-bottom-own{
    border-bottom: 1px solid red;
}
/* loading */
.loading-icons{
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lds-dual-ring,
.lds-dual-ring:after {
  box-sizing: border-box;
  color:red;
}
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6.4px solid currentColor;
  border-color: currentColor transparent currentColor transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ---------------------------------- */

:root{
   --primary--:#00bbf9;
   --danger--:#dc2f02;
}
.btn-btn{
    position: relative;
    overflow: hidden;
    border: none;
    outline: none;
    padding: 8px 15px;
    margin-left: 5px;
    border-radius: 10px;
}
.btn-btn::after{
    content: "";
     inset: 0; 
    padding: 2px;
    position: absolute;
    background-color:rgba(255, 0, 0, 0.459);
    left:110px;
}
.btn-btn:hover::after{
    left:0;
    transition: all 1s ease-in-out;
    /* z-index:; */
}
/* .we-provide-us-home{
    position: relative;
}
.we-provide-us-home::before{
    content: "";
    width: 100px;
    height: 100px;
    background-color: #d2d9dccf;
    border-radius: 75%;
    position: absolute;
    right: -50px;
    top: -50px;
} */

.tour-packages .image{
    width: 60px;
    height:60px;
}
.tour-package .items-col{
    border: 1px solid #ccc;
    border-right: 4px solid var(--primary--);
}
.items-col:hover .image{
    background-color: var(--danger--);
    color:var(--primary--);
    transform: translateY(-50px);
    transition: all 1s ease-in-out;
    border-radius: 50%;
}
.gallery-section{
    background-color: var(--danger--);
}
/* our-service */
.our-service ul li{
    list-style-type:disc;
    opacity: 0.7;
}
/* vaigai-about-section */
.vaigai-about-section .btn-section button{
    border: none;
    outline: none;
    padding: 8px 15px;
    margin-left: 5px;
    border-radius: 10px;
}
.vaigai-about-section .about-section{  
    border-bottom: 4px solid var(--primary--);
}
/* about-people-show */
.about-people-show:hover .parent{
    background-color:var(--danger--);
    color: white;
    border-radius: 10px;
    transform:translateY(-10px);
    transition: all 1s ease-in;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

/* mobile-view */


@media screen and (max-width:750px){
    .we-provide-us-home{
         width: 100% !important;
    }
    .contact-section-us .contact-fixed{
        position:static;
    }
}